/* GENERAL */

body {
    margin: 0px;
}

.page-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.segment-container {
    height: 400px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    width: 75%;
}

/* HEADER */

.header-container {
    background-color: brown;
    display: flex;
    justify-content: center;
}

.header-content {
    display: flex;
    width: 75%;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

.header-logo {
    font-weight: bold;
}

ul.header-link-container {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0px;
}

/* TOP SEGMENT */

.content-container.top-segment {
    gap: 10px;
}

.segment-container.top-segment {
    background-color: grey;
}

.hero-text.top-segment {
    font-size: 32px;
    font-weight: bold;
    max-width: 20rem;
}

.sub-text.top-segment {
    max-width: 20rem;
}

.sign-up-button.top-segment {
    background-color: aqua;
    width: 4rem;
}

.text-and-button-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.image.top-segment {
    background-color: blue;
    flex-grow: 1;
}

/* SECOND SEGMENT */

.heading-text.second-segment {
    font-size: 26px;
    font-weight: bold;
}

.content-container.second-segment {
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.cards-container {
    display: flex;
    gap: 20px;
}

.card-and-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.card-image {
    height: 80px;
    width: 80px;
    background-color: red;  
}

.card-caption-text {
    max-width: 80px;
    font-size: 12px;
}

.segment-container.second-segment {
    background-color: lightgrey;
}

/* THIRD SEGMENT */

.segment-container.third-segment {
    background-color: lightgreen;
}

.content-container.third-segment {
    flex-direction: column;
}

.quote-text {
    font-style: italic;
}

.quoted-person-text {
    font-weight: bold;
    align-self: end;
}

/* FOURTH SEGMENT */

.segment-container.fourth-segment {
    height: 200px;
    background-color: lightblue;
}

.content-container.fourth-segment {
    background-color: blue;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.text.fourth-segment {
    color: white;
}

.heading-text.fourth-segment {
    font-size: 20px;
    font-weight: bold;
}

.sign-up-button.fourth-segment {
    background-color: blue;
    height: 1.5rem;
    color: white;
}

/* FOOTER */

.footer-container {
    padding: 10px;
    text-align: center;
    background-color: grey;
    color: white;
}