body {
    margin: 0;
}

.landing-page-container {
    display: flex;
    flex-direction: column;

}

.header-container {
    background-color: red;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    width: 75%;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 1vw;
    margin: 0;
}

.header-link-item {
    color: white;
}

.segment-container {
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.top-segment {
    background-color: red;
}

.second-segment {
    background-color: green;
}

.segment-content-container {
    display: flex;
    width: 75%;
    justify-content: center;
}

.second-segment-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.second-segment-header-text {
    font-size: 30px;
    font-weight: bold;
}

.cards {
    display: flex;
    gap: 10px;

}

.card-image {
    height: 75px;
    width: 75px;
    border: 1px solid blue;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.card-caption-text {
    max-width: 75px;
    font-size: 12px;
}

.top-segment-text-and-button {
    display: flex;
    flex-direction: column;
}

.top-segment-hero-text {
    font-weight: bold;
    color: white;
    font-size: 35px;
    flex-wrap: wrap;
}

.top-segment-subtext {
    max-width: 20rem;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-segment-image {
    background-color: blue;
    width: 50%;
}

.top-segment-sign-up-button {
    background-color: purple;
    width: 5rem;
}

button.top-segment-sign-up-button:hover {
    background-color: blue;
}